body, html {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}


/* Lapisan hitam transparan */
.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Konten di atas hero */
.hero-content {
  position: relative;
  z-index: 2;
}

/* Link navbar aktif */
.navbar-nav .nav-link.active {
  color: #ff4c29 !important;
  border-bottom: 2px solid #ff4c29;
}

/* Tombol oranye transparan */
.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: rgba(255, 76, 41, 0.4); /* oranye transparan */
  cursor: pointer;
  border: 2px solid #ff4c29;
  overflow: hidden;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

/* Teks tombol */
.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

/* Efek saat hover */
.button:hover {
  background-color: #ff4c29; /* oranye solid */
  color: white;
  box-shadow: 0 0 20px rgba(255, 76, 41, 0.5);
}

/* Efek lapisan tambahan hover */
.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #e04325;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}
.footer{
  background-color: rgb(51, 51, 51);
  background-size: cover;
}